$secondary-color: rgba(255, 109, 109, 0.8);
$secondary-color-hover: rgb(255, 109, 109);
$main-color: #fff;
$text_main-color: black;
$article-secondary-color: #ececec;
$article-main-color: #4e4e5e;
$article-background-color: #323969;
$input-background-color: #464d78;